@import "~src/styles/helpers/all";

:host {
  display: block;

  &.fixed {
    .wrapper {
      position: fixed;
      top: rem-calc(50);
      padding: 0 rem-calc(30);
      left: 0;
      right: 0;
    }

    .contact{
      left: rem-calc(30);
      right: rem-calc(15);
    }

    &.open {
      .contact {
        bottom: initial;
        top: 100%;
      }
    }

    .info {
      order: 0;
    }

    .social {
      order: 1;
    }
  }

  &.open {
    .wrapper {
      &:before {
        content: "";
      }
    }
  }

  @include mobile {
    position: fixed;
    right: rem-calc(30);
    left: rem-calc(15);
    top: 5%;
    width: auto;
    z-index: 40;
    .logo {
      order: 1;
    }
    .burger {
      order: 0;
    }
  }
}

.logo, .burger {
  z-index: 10;
  position: relative;
}

.wrapper {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
  }

}

.contact {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  @include mobile {
    bottom: initial;
    height: 100vh;
    left: rem-calc(15);
    top: rem-calc(20);
    right: initial;
  }
}

.info {
  padding: rem-calc(140) 0;
  width: 100%;
  @include mobile {
    order: 1;
    padding: 20vh 0;
  }
}

.social {
  display: flex;

  li + li {
    margin-left: rem-calc(12);
  }

  @include mobile {
    order: 2;
  }
}
