@import "~src/styles/variables";
@import "~src/styles/helpers/all";

:host {
  display: block;
  overflow: hidden;
}

.wrapper {
  position: relative;
  padding-top: 62.3%;
  @include mobile() {
    padding-top: 40%;
  }
}

.preview, .video-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preview {
  z-index: 2;
  img {
    display: block;
    margin: 0 auto;
  }
}

.video-container {
  z-index: 1;
}
