:host {
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  transition: 300ms ease;
  cursor: pointer;


  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    background: white;
    box-shadow: 0 9px 0 0 white,
    0 18px 0 0 white;
  }

}
