:host {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  transition: 300ms ease;
  cursor: pointer;


  &:before, &:after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  &:before {

  }

  &:after {
    display: none;

  }

  &.open {
    .burger {
      background: url("~/assets/img/close.png") no-repeat center;
    }
  }
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("~/assets/img/burger.png") no-repeat center;
}
