@import '~tiny-slider/src/tiny-slider.scss';
@import "~src/styles/variables";
@import "~src/styles/helpers/all";

:host {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  height: rem-calc(180);

  .app-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  @include mobile() {
    height: initial;
  }
}
