@import '~tiny-slider/src/tiny-slider.scss';
@import "~src/styles/variables";
@import "~src/styles/helpers/all";

:host {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.app-video {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}

.wrapper {
  position: relative;
  @include mobile() {
    height: initial;
  }
}
