<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <header class="site-header">
      <video
        #bgVideo
        loop
        class="video-bg is-hidden-touch">
        <!--           loop="loop" poster="bg/daisy-stock-poster.jpg">-->
        <source src="assets/video/show_reel.mp4" type="video/mp4">
      </video>
      <div class="header-content container">
        <h1 class="site-title is-hidden-mobile" [@pageTitleTrigger]="getTriggerStatus('pageTitleTrigger')">
          The site is on track
        </h1>

        <h1 class="site-title is-hidden-tablet">
          The site is on track
          <span class="hidden-block" [@pageTitleHidden]="getTriggerStatus('pageTitleHidden')"></span>
        </h1>

        <div class="action-block">
          <app-header-button
            (click)="play()"
            (keyup)="play($event)"
            [buttonText]="'Play sowreel'"
          ></app-header-button>
          <!--      <button (click)="mute()">mute video</button>-->
        </div>
        <app-site-bar></app-site-bar>
      </div>
    </header>
  </div>
  <ng-container *ngIf="projects && projects.length">
    <div class="section" *ngFor="let project of projects">
      <div class="container">
        <section class="site-section">
          <div class="slider">
            <app-video-slider [videoList]="project.videos"></app-video-slider>
          </div>
          <div class="info">
            <div class="title section-title">
              {{project.name}}
            </div>
            <div class="data">
              <div class="title-l2">
                Location:
              </div>
              <div class="title-l3">
                Location: {{project.location}}
              </div>
              <div class="description">
                {{project.description}}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-container>
</div>
