@import "~src/styles/variables";
@import "~src/styles/helpers/all";

:host {
  display: block;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.7vh;
  height: 100vh;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  max-width: initial;
}

.header-content {
  position: relative;
  z-index: 2;
  @include mobile() {
    margin-top: 20vh;
  }
  @include tablet() {
    padding-bottom: rem-calc(60);
  }
}

.site-header {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  @include mobile() {
    align-items: end;
  }
}

.site-title {
  @include mobile() {
    position: relative;
  }
}

.action-block {
  display: flex;
  padding: rem-calc(93) 0 rem-calc(106);
  @include mobile() {
    padding: 18% 0 25%;
    display: block;
    position: relative;
  }
}

app-header-button {
  width: 50%;

  @include mobile() {
    width: initial;
  }
}

.info {
  display: flex;
  width: 100%;
  margin-top: rem-calc(90);
  @include mobile() {
    display: block;
  }
}

.title {
  width: 40%;
  @include mobile() {
    width: initial;
  }
}

.data {
  width: 60%;
  @include mobile() {
    width: initial;
    margin: rem-calc(20) 0;
  }
}

.title-l2 {
  margin-bottom: rem-calc(5);
  font-weight: 600;
}

.description {
  margin: rem-calc(30) 0;
  font-weight: 300;
}

.back-button {
  text-transform: uppercase;
  padding: rem-calc(15) 0;
  font-size: rem-calc(15);
  display: inline-block;
  margin-bottom: rem-calc(43);
  border: none;
  border-bottom: rem-calc(3) solid $white;
  text-align: left;
  background: none;
  color: $white;
  font-weight: 600;
  cursor: pointer;
  @include mobile() {
    font-size: 0;
    position: fixed;
    width: 0;
    height: 0;
    border-bottom: 50px solid $white;
    border-right: 50px solid transparent;
    left: 0;
    bottom: 0;
    margin: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    color: transparent;
  }
}

.slider {
  min-height: rem-calc(150);
  @include mobile() {
    margin: 0 - rem-calc(30);
  }
}

.site-section.fp-auto-height-responsive {
  @include mobile() {
    padding-bottom: rem-calc(90);
  }
}

.section {
  position: relative;
  min-height: 100vh;

  &.active {
    .preview-block {
      position: relative !important;
    }
  }
}


.modal-close {
  @include mobile() {
    left: 0;
    bottom: 0;
    top: initial;
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-right: 50px solid transparent;
    border-radius: initial;
    padding: 0;
    &:before, &:after {
      display: none;
    }
  }
}
